@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
html {
    font-family: 'Inconsolata', monospace;
}
ul {
    list-style: none;
}

.red2 {
    width: 100%;
    height: 120px;
    background-color: #DD1A1A;
}

.black2 {
    width: 100%;
    height: 50px;
    background-color: #0C0C0C;
}

.img-container-pokedex {
    position: absolute;
    width: 290px;
    height: 75px;
    left: 30px;
    top: 85px;
}

.img-container-pokedex img {
    width: 100%;
}

@media (min-width: 560px) {
    .img-container-pokedex {
        position: absolute;
        width: 430px;
        height: 75px;
        left: 130px;
        top: 55px;
    }
}

.pokedex-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 40px;
}

.pokedex-container h2 {
    font-size: 2.4rem;
    margin-left: 10px;
    font-weight: 400;
}

.pokedex-container h2 span {
    color: #FE1936;
    font-weight: 600;
}

.searches-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

@media (min-width: 669px) {
    .searches-container {
        flex-direction: row;
    }
}

@media (max-width: 490px) {
    .searches-container form input {
        font-size: 1.8rem;
    }
    .searches-container form button {
        font-size: 1.8rem;
    }
}

.searches-container form {
    display: flex;
    width: 80%;
    max-width: 666px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

.searches-container form input {
    width: 100%;
    height: 68px;
    padding: 0 20px;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 425px) {
    .searches-container form input {
        font-size: 2.4rem;
    }   
}
.searches-container form input::placeholder {
    color: #D3D3D3;
}

.searches-container form input:focus {
    outline: none;
}

.searches-container form button {
    width: 100%;
    height: 68px;
    border: none;
    background-color: #D93F3F;
    cursor: pointer;
    font-size: 2.4rem;
    color: #FFFFFF;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

.searches-container form button:hover {
    background-color: #DD1A1A;
}

.dropdown-pokedex {
    width: 80%;
    max-width: 470px;
    height: 68px;
    margin: 0 auto;
    padding: 0 10px;
    border: none;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
    font-size: 1.8rem;
    font-weight: 400;
    color: #0F0F2D;
}

.dropdown-pokedex:focus {
    outline: none;
}

.pokemons-container {
    margin-top: 80px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px 30px;
}

.pagination-btns {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 150px;
    margin-bottom: 75px;
    flex-wrap: wrap;
}

.btn-pagination {
    width: 50px;
    height: 75px;
    border-radius: 6px;
    background-color: rgba(211, 211, 211, 0.5);
    border: none;
    color: #212121;
    font-size: 2.4rem;
    font-weight: 400;
    cursor: pointer;
}

.btn-pagination:hover {
    color: #FFFF;
    background-color: #DD1A1A;
}

.btn-pagination-next {
    width: 50px;
    height: 75px;
    border-radius: 6px;
    background-color: #DD1A1A;
    border: none;
    color: #FFFFFF;
    font-size: 1.8rem;
    cursor: pointer;
}

@media (min-width: 425px) {
    .btn-pagination {
        width: 75px;
        font-size: 3.2rem;
    }
    .btn-pagination-next {
        width: 75px;
    }
}

.circle-poke {
    display: none;
}

.circle2-poke {
    display: none;
}

@media (min-width: 990px) {
    .circle-poke {
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        top: 85px;
        right: 295px;
        border: 15px solid #0C0C0C;
    }
    .circle2-poke {
        display: block;
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        top: 115px;
        right: 325px;
        border: 3px solid #0C0C0C;
    }    
}

/* Mediaquery for input and button */
@media (min-width: 670px) {
    .searches-container form {
        flex-wrap: nowrap;
        gap: 0;
    }
} 